@import "../../utils/constants";

.skills {
    background-color: $bgColor02;
}

.skills-section {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    width: 90%;
    padding: 20px 10px;
    margin: 2rem auto 0;
    line-height: 1.1;
}

.skills-section > * {
    flex: auto;
    margin-bottom: 30px;
}

.skills-title {
    font-size: 50px;
    font-weight: 400;
}

.skills-subTitle {
    font-size: 25px;
    margin-left: 2rem;
    margin-top: 0;
}

.skills-card {
    display: flex;
}

@media (max-width: $desktop-width){
    .skills-title{

    }
}

@media (max-width: $tablet-width){
    .skills-section {
        flex-direction: column;
    }

    .skills-text {
        text-align: center;
    }

    .skills-title{
        font-size: 30px;
    }

    .skills-subTitle {
        font-size: 20px;
    }
}

@media (max-width: $phone-width)
{
    .skills-card {

    }
}