@import "../../utils/constants";

.skills-border {
    position: relative;
    border-radius: 2rem;
    margin: 1rem;
    box-shadow: 0 1px 2px $shadowBefore;
    background-color: $bgColor02;
}

.skills-section {
    flex-direction: column;
    overflow-wrap: anywhere;
    width: 90%;
    padding: 10px 10px;
    margin: auto;
    line-height: 1.1;
}

.skills-section > * {
    flex: auto;
    margin-bottom: 30px;
}

.skills-title {
    font-size: 40px;
    font-weight: 400;
}

.skills-subTitle {
    font-size: 25px;
    margin-left: 2rem;
    margin-top: 0;
}

.skills-text {
    text-align: center;
}

.skills-card {
    justify-content: center;
}

.skills-card > * {
    text-align: center;
}

@media (max-width: $desktop-width){

}

@media (max-width: $tablet-width){
    .skills-title{
        font-size: 30px;
    }

    .skills-subTitle {
        font-size: 20px;
    }
}

@media (max-width: $phone-width)
{
    .skills-card {

    }
}