@import "../../utils/constants";

.button {
  background-color: $buttonColor;
  border-color: solid 1px $buttonColor;
  color: $textColor;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover {
  background-color: $buttonHover;
  color: $buttonColor;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

@media (max-width: 768px){
  .button {
    font-size: 0.9rem;
    padding: 12px 18px;
    margin-right: 0;
  }
}

@media (max-width: 320px){
  .button{
    font-size: 0.75rem;
  }
}