@import "./../../utils/constants";

// ---------------- Container Buttons -------------------

.header-card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-card li {
  float: left;
}

.header-card li a {
  display: inline-block;
  padding: 10px 12px;
  color: $headerText;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.header-card li a:hover {
  transform: scale(1.1, 1.1);
}

// ----------------------------------------------------

@media (max-width: $tablet-width)
{

  .header-card {
    position: fixed;
    width: 0;
    height: 150%;
    z-index: 1; //stays on top
    top: 0;
    right: 0;
    margin-top: 10rem;
    background: $headerColor;
    border-radius: 1rem;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .header-card ul {

  }

  .header-card li {
  }

  .header-card li a {

  }

  .header-card li a:hover {

  }
}