@import "./../../utils/constants";

.exp {
  background-color: $bgColor02;
}

.exp-section {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 20px 10px;
  margin: 2rem auto 0;
}

.exp-section > * {
  flex: auto;
  margin-bottom: 30px;
}

.exp-title > h1{
  font-size: 50px;
  font-weight: 400;
}

.exp-card {
  display: flex;
  padding-top: 20px;
  padding-left: 3rem;
}

@media (max-width: 1380px) {
  .exp-title > h1{
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .exp-title > h1{
    font-size: 30px;
    text-align: center;
  }
}