@import "./../../utils/constants";

.edu-title {
  font-size: 50px;
  font-weight: 400;
}

.edu-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 10px;
  margin: 2rem auto 0;
}

.edu-section > * {
  flex: 1;
  margin-bottom: 30px;
}

@media (max-width: 1380px){
  .edu-title{
    font-size: 40px;
  }
}

@media (max-width: 768px){
  .edu-title{
    font-size: 30px;
    align: center;
  }
}