@import "./../../utils/constants";

.edu-border {
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 1px 2px $shadowBefore;
  background-color: $bgColor02;
}

.edu-section {
  width: 90%;
  padding: 10px 10px;
  margin: auto;
}

.edu-section > * {
  flex: auto;
  margin-bottom: 30px;
}

.edu-section > h1{
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.edu-card-list {

}

@media (max-width: $desktop-width){

}

@media (max-width: $tablet-width){
  .edu-section {
    flex-direction: column;
  }

  .edu-section > h1{
    font-size: 30px;
  }

  .edu-card {
    padding-left: 1rem;
  }
}

@media (max-width: $phone-width)
{

}