@import "./../../utils/constants";

.edu {
  background-color: $bgColor01;
}

.edu-section {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 20px 10px;
  margin: 2rem auto 0;
}

.edu-section > * {
  flex: auto;
  margin-bottom: 30px;
}

.edu-title > h1{
  font-size: 50px;
  font-weight: 400;
}

.edu-card {
  display: flex;
  padding-top: 20px;
  padding-left: 3rem;
}

@media (max-width: $desktop-width){
  .edu-title > h1{
    font-size: 40px;
  }
}

@media (max-width: $tablet-width){
  .edu-section {
    flex-direction: column;
  }

  .edu-title > h1{
    font-size: 30px;
    text-align: center;
  }

  .edu-card {
    padding-left: 1rem;
  }
}