@import "./../../utils/constants";

.skills-card {
  display: flex;
  flex-direction: row;
}

.skills-icons {
  list-style: none;
  text-align: center;
  margin: 0 1rem 0 1rem;
}

.skills-inline {
  display: inline-block;
  margin-right: 65px;
}

.skills-inline > img {
  object-fit: contain;
  width: 5rem;
  height: 5rem;
}

.skills-inline > p {
  text-align: center;
}

@media (max-width: $phone-width)
{
  .skills-inline {
    margin-right: 2rem;
  }
}