@import "./../../utils/constants";

.skills-card {
  display: flex;
  flex-direction: row;
}

.skills-icons {
  list-style: none;
  text-align: center;
  padding-left: 0;

}

.skills-inline {
  display: inline-block;
  margin: 0 40px 20px 0;
}

.skills-inline > i {
  color: $textColor;
}