@import "../../utils/constants";

.greet-section {
    width: 90%;
    padding: 10px 10px;
    margin: 2rem auto 0;
}

.greet-section > * {
    flex: 1;
    margin-bottom: 30px;
}

.greet-title {
    text-align: center;
    font-size: 60px;
    line-height: 1.1;
    color: $titleColor !important;
}

.greet-text {
    position: relative;
    line-height: 1.1;
    text-align: center;
    color: $textColor !important;
}

.greet-subTitle {
    margin: -30px 0 0 20px;
    font-size: 35px;
    color: $subTitleColor !important;
}

.greet-buttons {
    display: none;
    text-decoration: none;
    text-align: center;
}

@media (max-width: $desktop-width)
{

}

@media (max-width: $tablet-width)
{
    .greet-section {
        flex-direction: column;
    }

    .greet-text {
        text-align: center;
    }

    .greet-subTitle {
        font-size: 35px;
    }
}

@media (max-width: $phone-width)
{
    .greet-title {
        font-size: 50px;
    }
    .greet-subTitle {
        font-size: 35px;
    }
}