@import "./../../constants.scss";

.greet-main {
    width: 90%;
    padding: 20px 10px;
    margin: 0x auto;
    margin-top: 4rem;
    display: flex;
}

.greting-text {
    font-size: 70px;
    line-height: 1.1;
    color: $textColor !important;
}