@import "./../../utils/constants";

.project-border {
  position: relative;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 1px 2px $shadowBefore;
  background-color: $bgColor02;
}

.projects-section {
  flex-direction: column;
  width: 90%;
  padding: 10px 10px;
  margin: auto;
}

.projects-section > * {
  flex: 1;
  margin-bottom: 30px;
}

.projects-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
}

@media (max-width: $desktop-width) {

}

@media (max-width: $tablet-width) {
  .projects-title {
    font-size: 30px;
    text-align: center;
  }
}