@import "./../../utils/constants";

.cert-border {
  position: relative;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 1px 2px $shadowBefore;
  background-color: $bgColor02;
}

.cert-section {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 10px 10px;
  margin: 2rem auto 0;
}

.cert-section > * {
  flex: auto;
  margin-bottom: 30px;
}

.cert-section > h1 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: $desktop-width){

}

@media (max-width: $tablet-width){
  .cert-section > h1 {
    font-size: 30px;
    text-align: center;
  }
}