@import "./../../utils/constants";

.cert-border {
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 1px 2px $shadowBefore;
  background-color: $bgColor02;
}

.cert-section {
  width: 90%;
  padding: 10px 10px;
  margin: auto;
}

.cert-section > * {
  flex: auto;
  margin-bottom: 30px;
}

.cert-section > h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

@media (max-width: $desktop-width){

}

@media (max-width: $tablet-width){
  .cert-section > h1 {
    font-size: 30px;
  }
}