// text colors
$textColor: #000000;
$titleColor: #000000;
$subTitleColor: #605F5E;

$backgroundColor: #FEFFFE;
$headerColor: #F7C59F;

// buttons
$buttonHoverColor: #004E89;
$buttonClickColor: #E2E2E2;

