// text colors
$textColor: #000000;
$titleColor: #000000;
$subTitleColor: #605F5E;

$backgroundColor: #FEFFFE;

$headerColor: #004F2D;
$headerText: #ffffff;

// buttons
$buttonColor: #FEFFFE;
$buttonHover: #BAD4AA;
$buttonClick: #E2E2E2;

