@import "./utils/constants";

.App {
  font-family: "Roboto Regular", monospace;
}

.App-Sections {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: $tablet-width)
{
  .App-Sections {
    flex-direction: column;
  }
}
