@import "../../utils/constants";

.headroom-wrapper {
    max-height: 150px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
    background-color: $headerColor;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header li {
    float: left;
}

.header li a {
    display: inline-block;
    padding: 20px 20px;
    color: $headerText;
    text-decoration: none;
    font-size: 25px;
}

.header .logo {
    display: inline-flex;
    float: left;
    line-height: normal;
    text-decoration: none;
}

.header .logo > h1 {
    font-family: monospace;
    color: $headerText;
    text-align: center;
}

.header .menu {
    clear: both;
    max-height: none;
    transition: max-height 0.2s ease-out;
}

.header button {
    background: $headerColor;
    border: none;
    cursor: pointer;
}

.header button:hover {

}

.header i {
    display: none;
    float: right;
    font-size: 40px;
    color: $headerText;
}

.card-open {
    display: initial;
}

.card-close {
    display: none;
}

@media (max-width: $desktop-width){

}

@media (max-width: $tablet-width)  {
    .headroom-wrapper {
        max-height: 100px;
    }

    .header .logo > h1 {
        display: none;
    }

    .header li {
        display: none;
    }

    .header i {
        display: inline;
    }
}

@media (max-width: $phone-width)
{
    .header .logo {
        line-height: unset;
    }
}

