@import "../../utils/constants";

.headroom-wrapper {
    max-height: 100px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.header > img {
    margin-left: 2rem;
}

// --------------------- Logo  ------------------------

.header .logo {
    display: inline-flex;
    float: left;
    line-height: normal;
    text-decoration: none;
}

// ----------------------------------------------------

@media (max-width: $tablet-width)
{

}

@media (max-width: $phone-width)
{

}

